{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}

{% block main %}
    <form name="fedit" id="fedit" action="{{ url_for('edit_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}" method="POST">
        <textarea name="content" cols="80" rows="20">{{ page.content }}</textarea>
        <p><input type="submit" name="save" id="save" value="Save" /> or <a class="cancel" href="{% if page.id %}{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}{% else %}/{% endif %}">Cancel</a></p>
    </form>
{% endblock %}