{% extends "base.html" %}

{% block title %}{{ page.title }} (revision {{ page.nb_revision }}){% endblock %}



{% block content %}
    {% if page.parent %}
        <form name="frevert" id="frevert" action="" method="POST">
            <p>This is the version of <a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}">{{ page.title }}</a> <time title="GMT" datetime="{{ page.updated|rfc3339 }}">{{ page.updated|formatdatetime }}</time></p>
            <input type="submit" name="srevert" id="srevert" value="revert to this" />
        </form>
    {% endif %}
    <p>{{ page.content|markdown }}</p>
    <div id="actions">
        <ul>
            <li class="first"><time title="GMT" datetime="{{ page.updated|rfc3339 }}">{{ page.updated|formatdatetime }}</time></li>
            {% if page.title != "Home" %}
            <li><a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}/delete">delete</a></li>
            {% endif %}
            <li><a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}/history">history</a></li>
            <li class="last"><a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}/edit">edit</a></li>
        </ul>
        
        
{% endblock %}

{% block aside %}
{% include "sidebar.html" %}
{% endblock %}

{% block footer %}
    <script type="text/javascript" charset="utf-8">
        Site.name = "{{ site.cname }}";
        Site.url = "/" + "{{ site.cname }}"
        new Create();
    </script>
{% endblock %}
