{% block title %}{{ page.title }}{% endblock %}

{% extends "base.html" %}

{% block content %}
    <p>{{ page.content|markdown }}</p>
    <div id="actions">
        <ul>
            <li class="first"><time title="GMT" datetime="{{ page.updated|rfc3339 }}">{{ page.updated|formatdatetime }}</time></li>
            <li><a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}/delete">delete</a></li>
            <li><a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}/history">history</a></li>
            <li class="last"><a href="{{ url_for('show_page', cname=site.cname, pagename=page.title|replace(" ", "_")) }}/edit">edit</a></li>
        </ul>
{% endblock %}

{% block aside %}
    <div id="createPage">
        <a href="#" class="doCreate">Create new page</a>
        <form id="fnewpage" id="fnewpage" method="get">
            <p><input type="text" name="title" id="title" value="" /></p>
            <p><input type="submit" name="screate" id="screate" value="Create" /> or <a href="#" class="cancel">Cancel</a></p>
        </form>
    </div>
    <ul class="pagelist">
    {% for p in pages %}
        <li><a href="{{ url_for('show_page', cname=site.cname, pagename=p.title|replace(" ", "_")) }}">{{ p.title }}</a></li>
    {% endfor %}
    </ul>
    
<script type="text/javascript" charset="utf-8">
    Site.name = "{{ site.cname }}";
    Site.url = "/" + "{{ site.cname }}"
    new Create();
</script>
    
    
{% endblock %}