{% extends "base.html" %}

{% block title %}{{ page.title }} (revision {{ page.nb_revision }}){% endblock %}

{% block head %}
{% if page.title == "Home" %}
    <link rel="alternate" type="application/atom+xml" href="{{ url_for('site_changes', feedtype='atom') }}" title="Atom Recent Changes Feed" />
    <link rel="alternate" type="application/rdf+xml" href="{{ url_for('site_changes', feedtype='rdf') }}" title="SIOC Pages" />
{% endif %}

<link rel="alternate" type="application/atom+xml" href="{{ url_for('revisions_feed', pagename=page.title|replace(" ", "_"), feedtype='atom') }}" title="Atom Revisions Feed" />
<link rel="alternate" type="application/rdf+xml" href="{{ url_for('show_page', pagename=page.title|replace(" ", "_")) }}" title="SIOC" />

{% if DEBUG %}
<script src="/static/js/lib/effects.js" type="text/javascript"></script>
<script src="/static/js/lib/dragdrop.js" type="text/javascript"></script>

<script src="/static/js/lib/livepipe.js" type="text/javascript"></script>
<script src="/static/js/lib/tabs.js" type="text/javascript"></script>
<script src="/static/js/lib/resizable.js" type="text/javascript"></script>
<script src="/static/js/lib/textarea.js" type="text/javascript"></script>
<script src="/static/js/lib/window.js" type="text/javascript"></script>
<script src="/static/js/lib/showdown.js" type="text/javascript"></script>
<script src="/static/js/src/page.js" type="text/javascript"></script>
<script src="/static/js/src/semantic.js" type="text/javascript"></script>
{% else %}
<script src="/static/js/livepipe.js?20090820" type="text/javascript"></script>
<script src="/static/js/couchit-page.js?20090820" type="text/javascript"></script>
<script src="/static/js/couchit-semantic.js?20090820" type="text/javascript"></script>
{% endif %}

{% endblock %}




{% block page %}
{% if page.parent %}
<section id="prevert">
    <form name="frevert" id="frevert" action="{{ url_for('revision_page', pagename=page.title|replace(" ", "_"), nb_revision=page.nb_revision ) }}" method="POST">
        <p>This is the version of <a href="{{ url_for('show_page', pagename=page.title|replace(" ", "_")) }}">{{ page.title }}</a> <time title="GMT" datetime="{{ page.updated|rfc3339 }}">{{ page.updated|formatdatetime }}</time> <input type="submit" name="srevert" id="srevert" value="revert to this" /></p>
    </form>
</section>
{% endif %}

{% if redirect_from %}
<section id="redirect">
    <p>This page was redirected from &quot;<strong>{{ redirect_from.replace("_", "") }}</strong>&quot;</p>
</section>
{% endif %}

<ul id="tabs_wiki" class="subsection_tabs">  
     <li class="tab tab-view"><a href="#pview">VIEW</a></li>
     {% if can_edit %}
     <li class="tab tab-edit"><a href="#pedit">EDIT</a></li> 
     {% endif %}
       
</ul>
<section id="pview">
    {% if page._id %}
        
    
    <article id="post">
        {% if page.title or page.subtitle %}
        <header>
            <h2 id="page_title">{{ page.title }}</h2>
            <ul class="page_infos">
                <li><time title="GMT" datetime="{{ page.updated|rfc3339 }}">{{ page.updated|formatdatetime }}</time></li>
                {% if page.title != "Home" and can_edit %}
                <li><a id="page_delete" href="{{ url_for('delete_page', pagename=page.title|replace(" ", "_")) }}">delete</a></li>   
                {% endif %}
                <li class="last"><a class="page_history" href="{{ url_for('show_page', pagename=page.title|replace(" ", "_")) }}/history">history</a></li>
            </ul>
        </header>
        {% endif %}
        {{ page.content|markdown(site.allow_javascript) }}
        <footer>
            
        </footer>
    </article>
    {% endif %}
</section>
{% if can_edit %}
    

<section id="pedit">
    <div id="pedit_wrapper">
        <form name="fedit" id="fedit" action="{{ url_for('edit_page', pagename=page.title|replace(" ", "_")) }}" method="POST">
            <textarea name="content" id='content' cols="80" rows="20">{{ page.content }}</textarea>
            <p><input type="submit" name="save" id="save" value="Save" /> or <a id="cancelEdit" href="{% if page._id %}{{ url_for('show_page', pagename=page.title|replace(" ", "_")) }}{% else %}/{% endif %}">Cancel</a></p>
        </form>
        <div id="preview"></div>
    </div>
</section>
 

 
 {% endif %}
{% endblock %}

{% block sidebar %}
    {% include("sidebar.html") %}
{% endblock %}



{% block footer %}

{% if can_edit %}
<div id="link_window" title="Enter Link Url" class="window">
    <div id="link_window_close" class="close"></div>
    <div id="link_window_title" class="window_title">Enter Link Url</div>
    <form name="flink" id="flink">
        <table>
             <tr class="rlink_type">
                    <th><label for="link_type">Link type:</label></th>
                    <td>
                        <select id="link_type" name="link_type">
                            <option value="page" selected="selected">Page</option>
                            <option value="url">URL</option>
                        </select>
                    </td>
            </tr>
            <tr>
                <th><label for="link_label">Link text:</label></th>
                <td><input type="text" name="link_label" id="link_label" value="" /></td>
            </tr>
            <tr id="link_from_page">
                <th><label for="link_page">Page:</label></th>
                <td>
                    <select id="link_page" name="link_page">
                        {% for p in pages %}
                        <option  value="{{ url_for('show_page', pagename=p.title|replace(" ", "_"))  }}">{{ p.title }}</option>
                        
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr id="link_from_url">
                <th><label for="link_url">Url:</label></th>
                <td><textarea id="link_url" name="link_url" cols="40" rows="2"></textarea></td>
            </tr>
        </table>
         <p><input type="submit" id="slink" name="slink" value="Insert link" /><input type="submit" id="cancelLink" name="cancelLink" value="Cancel" /></p>
    </form>
</div>
    
<div id="snippet_window" title="insert a snipet" class="window">
    <div id="snippet_window_close" class="close"></div>
    <div id="snippet_window_title" class="window_title">Insert a snippet</div>
    <form name="fsnippet" id="fsnippet">
        <p class="choice"><input type="radio" name="snippet_from"  id="si" value="0" class="tsnippet" checked="checked" />Paste it here :</p>           
        <table>
            <tr>
                <th><label for="snippet_language">Programming language</label></th>
                <td>
                   <select id="snippet_language" name="snippet_language">
                       {% for lexer in lexers %}
                       <option value="{{ lexer[0] }}">{{ lexer[1] }}</option>
                       {% endfor %}
                   </select>
                </td>
            </tr>
            <tr>
                <th><label for="snippet_content">Code:</label></th>
                <td>
                    <textarea id="snippet_content" name="snippet_content" cols="40" rows="7"></textarea>
               </td>
           </tr>
       </table>
       <p class="choice"><input type="radio" name="snippet_from"  id="sfp" value="1" class="tsnippet" />Or insert a snippet from <a href="http://www.friendpaste.com">Friendpaste</a></p>
        <table>
            <tr>
                <th>URL:</th>
                <td><input type="text" name="snippet_url" id="snippet_url" value="" /></td>
           </tr>
       </table>
       <p><input type="submit" id="ssnippet" name="ssnippet" value="Insert snippet" /><input type="submit" id="cancelSnippet" name="cancelSnippet" value="Cancel" /></p>
    </form>
</div>
    
{% endif %}

<script type="text/javascript">
    Site.name = "{{ site.cname }}";
    Site.url = "{{ site_url }}";
    {% if can_edit %}
    {% if not page._id %}
    Page.created = true;
    {% else %}
    {% if page.title == 'Home' %}
    Page.home = true;
    {% else %}
     Page.home = false;
    {% endif %}
    {% endif %}
    document.observe("dom:loaded", function() {
        new Create();
        new PageUI();
    });
    {% endif %}
    
    new Feed();
</script>
{% endblock %}
