{% extends "base.html" %}

{% block title %}
    Change password?
{% endblock %}

{% block header %}{% endblock %}

{% block fullpage %}
<div id="claim_wrapper">
    <form name="fpassword" id="fpassword" action="{{ url_for('change_password') }}" method="post">
        <h2>Change password</h2>
        {% if error %}   
        <p class="errors">{{ error }}</p>
        {% endif %}
        <table>
        <tr>
            <th><label for="password">New password:</label></th>
            <td><input type="password" name="password" id="password" value="" /></td>
        </tr>
        <tr>
            <th><label for="password">Old password:</label></th>
            <td><input type="password" name="old_password" id="old_password" value="" /></td>
        </tr>
        </table>
        <p><input type="submit" id="spassword" name="spassword" value="Change password"> or <a class="cancel" href="{{ url_for('site_settings') }}">Cancel</a></p>

        
    </form>
</div>                             
{% endblock %}


