{% extends "base.html" %}

{% block title %}
    Change password?
{% endblock %}

{% block header %}{% endblock %}

{% block fullpage %}
<div id="claim_wrapper">
    <form name="fpassword" id="fpassword" action="{{ url_for('change_password') }}" method="post">
        <h2>Change password</h2>
         {% if error %}
            
            <p class="errors">{{ error }}</p>
            {% endif %}
        {% if invalid_token %}
            <p><a class="cancel" href="{% if site_url %}{{ site_url }}{% else %}/{% endif %}">Cancel</a></p>
        {% else %}
            <input type="hidden" name="token" value="{{ token }}" id="token" />
            <p><label for="password">New password:</label> <input type="password" name="password" id="password" value="" /></p>
            <p><input type="submit" id="spassword" name="spassword" value="Change password"> or <a class="cancel" href="{% if site_url %}{{ site_url }}{% else %}/{% endif %}">Cancel</a></p>
        {% endif %}
        
    </form>
</div>                             
{% endblock %}


