{% extends "base.html" %}

{% block title %}
    Claim this site
{% endblock %}

{% block header %}{% endblock %}

{% block fullpage %}
<div id="claim-wrapper">
    <form name="fclaim" id="fclaim" action="{{ url_for('site_claim', cname=site.cname) }}" method="post">
        <h1>Claim this site</h1>
        <table class="">
            <tr>
                <th>Site password:</th>
                <td><input type="password" name="password" id="password" value="{{ password }}" /></td>
            </tr>
            <tr>
                <th>Email address:</th>
                <td><input type="email" name="email" id="email" value="" /></td>
            </tr>
            <tr>
                <th>Kind of site:</th>
                <td>
                    <table class="privacy">
                        <tr>
                            <td class="first-row"><input type="radio" name="privacy" value="private" /></td>
                            <td class="first-row">Private</td>
                            <td class="wrap first-row">Require password to view and edit site.</td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="privacy" value="public" /></td>
                            <td>Public</td>
                            <td class="wrap">Require password to edit site.</td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="privacy" value="open" checked="checked" /></td>
                            <td>Open</td>
                            <td class="wrap">Everyone can view and edit.</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <p><input type="submit" id="sclaim" name="sclaim" value="Claim site"> or <a href="" />Cancel</a></p>
    </form>
</div>                             
{% endblock %}