{% extends "base.html" %}

{% block title %}
    Delete site
{% endblock %}

{% block header %}{% endblock %}

{% block fullpage %}
<div id="claim_wrapper">
    <form name="fdelete" id="fdelete" action="{{ url_for('site_delete') }}" method="post">
       
        <h2>Are you sure you want to delete this site?</h2>
        <p>Deleting this site will immediately take it down. To get it back, you'll have to ask tech support to restore it by hand.</strong>
        <p><input type="submit" id="sdelete" name="sdelete" value="Delete this site"> or <a href="{{ url_for('site_settings') }}">Cancel</a></p>
    </form>
</div>                             
{% endblock %}


