{% extends "base.html" %}

{% block head %}

{% if DEBUG %}
<link rel="stylesheet" type="text/css" href="/static/css/src/colorPicker.css">
<script src="/static/js/lib/yahoo.color.js" type="text/javascript"></script>
<script src="/static/js/lib/colorPicker.js" type="text/javascript"></script>
{% else %}
<script src="/static/js/colorpicker.js?20080926" type="text/javascript"></script>
{% endif %}


{% endblock %}
{% block page %}
<section id="pdesign">
    <h4>Design your Couch</h4>
    <p>Below are the current design settings for your site. You can change, preview, save, or restore to factory default settings any time.</p>
    <form action="{{ url_for('site_design') }}" method='POST'>
        <p><input type="radio" name="style" value="default"{% if site.default_theme %} checked='checked'{% endif %} id="style_default" /> Use the CouchIt default style</p>
        <p><input type="radio" name="style" value="custom"{% if not site.default_theme %} checked='checked'{% endif %} id="style_custom"/> Use my custom style below</p>
        <table id="custom_form">
            <tr>
                <th><label for="background_color">Background Color</label></th>
                <td><input type="text" name="background_color" value="{{ site.theme.background_color }}" id="background_color" class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="text_color">Text Color</label></th>
                <td><input type="text" name="text_color" value="{{ site.theme.text_color }}" id="text_color"  class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="link_color">Link Color</label></th>
                <td><input type="text" name="link_color" value="{{ site.theme.link_color }}" id="link_color"  class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="border_color">Border Color</label></th>
                <td><input type="text" name="border_color" value="{{ site.theme.border_color }}" id="border_color" class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="page_fill_color">Page Fill Color</label></th>
                <td><input type="text" name="page_fill_color" value="{{ site.theme.page_fill_color }}" id="page_fill_color" class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="page_text_color">Page Text Color</label></th>
                <td><input type="text" name="page_text_color" value="{{ site.theme.page_text_color }}" id="page_text_color" class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="page_link_color">Page Link Color</label></th>
                <td><input type="text" name="page_link_color" value="{{ site.theme.page_link_color }}" id="page_link_color" class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="menu_inactive_color">Sidebox title Color</label></th>
                <td><input type="text" name="menu_inactive_color" value="{{ site.theme.menu_inactive_color }}" id="menu_inactive_color"  class="setColor" /></td>
            </tr>
            <tr>
                <th><label for="syntax_style">Syntax Hilighting style</label></th>
                <td><select name="syntax_style" id="syntax_style"> {% for t in ALL_COLORSHEME %} <option value="{{ t }}"{% if t == site.theme.syntax_style %} selected="selected"{% endif %}> {{ t }}</option>{% endfor %}</select></td>
            </tr>
        </table>
        <p><input type="submit" name="sdesign" value="Save" id="sdesign" /></p>
    </form>


</section>

{% endblock %}

{% block sidebar %}
    {% include("sidebar.html") %}
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        Site.name = "{{ site.cname }}";
        Site.url = "{{ site_url }}";
        new Create();
        
        $('custom_form').getElementsBySelector('input.setColor').each(function(el) {
            new Control.ColorPicker(el.id);
            el.observe("focus", function(e) {
                $('style_custom').checked=true;
            }, false);

        });
        
        $('syntax_style').observe("focus", function(e) {
            $('style_custom').checked=true;
        }, false);
        
    </script>
{% endblock %}
