{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/static/js/src/colorpicker2.js"></script>
{% endblock %}
{% block main %}
    <section id="color">
    <form>
        <input type="text" name="background" value="" id="background" class="colorpicker" />
    </form>
<!-->
<div id="everything">
 <div style="FONT-FAMILY: Garamond, Times, Serif; TEXT-ALIGN: center; PADDING-TOP: 20px;">
  <fieldset id="colorspy"><legend>DHTML Color Picker</legend>
   <div id="plugin" onmousedown="HSVslide('drag','plugin',event)" style="TOP: 58px; Z-INDEX: 20;">
	<div id="plugCUR"></div><div id="plugHEX" onmousedown="stop=0; setTimeout('stop=1',100);">FFFFFF</div><div id="plugCLOSE" onmousedown="toggle('plugin')">X</div><br>
	<div id="SV" onmousedown="HSVslide('SVslide','plugin',event)" title="Saturation + Value">
	 <div id="SVslide" style="TOP: -4px; LEFT: -4px;"><br /></div>
	</div>
	<form id="H" onmousedown="HSVslide('Hslide','plugin',event)" title="Hue">
	 <div id="Hslide" style="TOP: -7px; LEFT: -8px;"><br /></div>
	 <div id="Hmodel"></div>
	</form>
   </div>
   <div id="plugID" style="HEIGHT: 120px; WIDTH: 480px; MARGIN: 12px 0 0 240px; PADDING-TOP: 76px; COLOR: #000; BORDER: 1px solid #333; TEXT-ALIGN: center; FONT-SiZE: 25px; BACKGROUND: #333;"><a href="http://www.nofunc.com/DHTML_Color_Picker/">DHTML Color Picker</a><br>Free to use on your own projects!</div>-->

</section>
<!-->
<script type="text/javascript" src="/static/js/src/colorpicker.js"></script>-->

<script type="text/javascript" charset="utf-8">
    document.querySelectorAll('.colorpicker').forEach(function(el) {
        new ColorPicker(el);
    });
</script>
{% endblock %}
