{% extends "base.html" %}

{% block title %}
    Forgot password?
{% endblock %}

{% block header %}{% endblock %}

{% block fullpage %}
<div id="claim_wrapper">
    <form name="fpassword" id="fpassword" action="{{ url_for('forgot_password') }}" method="post">
        <input type="hidden" name="back" value="{{ back }}" />
        <h2>Forgot the password</h2>
        <p>We'll <strong>sent an email</strong> to the address we got when the site was claimed. This email has <strong>a secret link that will let you change your password.</strong>
        <p><input type="submit" id="spassword" name="spassword" value="Send password"></p>
    </form>
</div>                             
{% endblock %}


