{% extends "base.html" %}

{% block title %}
    settings
{% endblock %}


{% block page %}
<section id="psettings">
    <form name="fsettings" id="fsettings" action="{{ url_for('site_settings') }}" method="post">
        <h2>Settings</h2>
        <table class="tableSettings">
            <tr>
                <th>Title:</th>
                <td><input type="text" name="site_title" id="site_title" value="{{ site.title }}" /></td>
                <td>Appears at the top of every page</td>
            </tr>
            <tr>
                <th>Subtitle:</th>
                <td><input type="text" name="site_subtitle" id="site_subtitle" value="{{ site.subtitle }}" /></td>
                <td>Appears below the title</td>
            </tr>
            <tr>
                <th>Site address:</th>
                <td>{% if site_address %}<strong>{{ site_address }}</strong> (<a href="{{ site_url }}/site/change-site-address">change</a>){% else %}<a href="{{ site_url }}/site/change-site-address">Give your site an address</a>{% endif %}</td>
                <td>{% if not site_address %}Give your website an address that's easy to remembe{% endif %}</td>
            </tr>
            {% if site.claimed %}
                <tr>
                    <th>Password:</th>
                    <td><a href="{{ site_url }}/site/change-password">Change password</a></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Email address:</th>
                    <td><input type="email" name="email" id="email" value="{{ site.email }}" /></td>
                    <td></td>
                </tr>
            
            
            <tr>
                <th>Kind of site:</th>
                <td>
                    <table class="privacy">
                        <tr>
                            <td class="first-row"><input type="radio" name="privacy" value="private"{% if site.privacy == "private" %} checked="checked"{% endif %} /></td>
                            <td class="first-row">Private</td>
                            <td class="wrap first-row">Require password to view and edit site.</td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="privacy" value="public"{% if site.privacy == "public" %} checked="checked"{% endif %} /></td>
                            <td>Public</td>
                            <td class="wrap">Require password to edit site.</td>
                        </tr>
                        <tr>
                            <td><input type="radio" name="privacy" value="open"{% if site.privacy == "open" %} checked="checked"{% endif %} /></td>
                            <td>Open</td>
                            <td class="wrap">Everyone can view and edit.</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <th>Allow javascript:</th>
                <td><input type="checkbox" name="allow_javascript" id="allow_javascript" value="1"{% if site.allow_javascript %} checked="checked"{% endif %} /></td>
                <td>Allow users to include javascript in pages</td>
            {% endif %}
        </table>
    </form>
    <p>&nbsp;</p>
    <h5 class="settings">Export your content</h5>
    
    <p>Export your content to <a href="{{ site_url }}/site/export.atom">Atom Syndication Format</a>, <a href="{{ site_url }}/site/export.json">JSON Format</a> or <a href="{{ site_url }}/site/export.zip">ZIP Format</a> (only the latest version of your pages is included).</p>
    <h5 class="settings">Delete site</h5>
    <p><a href="{{ url_for('site_delete') }}">Delete this site.</a> Deleting this site will immediately take it down.</p>
       
    
</section>
                       
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block footer %}
<script type="text/javascript">
    Site.name = "{{ site.cname }}";
    Site.url = "{{ site_url }}";
    document.observe("dom:loaded", function() {
        new Create();
        new Settings();
    });
</script>
{% endblock %}
