body {
    background: #E9F2F5;
    min-width: 700px;
    color: #000;
}


html,body, #container,  {
	height: 100%
}



a { border: 0;}
a { color: #14456e;}

#topheader {
    display: block;
    width: 100%;
    height: 24px;
    
}
#topheader ul {
    list-style: none;
    float: right;
}

#topheader ul li {
    display: inline;
}

#wrapper {
    width: 100%;
    height: 100%;
    clear: both;
    padding-top: 18px;
       padding-left: 14px;
}
#page {
    float: left;
    width: 80%;
}

aside#sidebar {
    display: block;
    position: relative;
    width: 19%;
    background: #a9cce6 repeat-y;
    border-left: 1px solid #9ec0da;
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    margin-bottom: 0;
    height:100%; /* real browsers */
    float: right;
}

aside ul { list-style: none; }


#page div#actions {
    position: relative;
    border-top: 1px solid #ccc;
    text-align: right;
}
#actions ul { list-style: none;}
#actions ul li {
    display: inline;
    padding: 0 10px 0 10px;
    border-right:1px solid #ccc;
}

#actions ul li.last { border: none;}

.historyTable {
    position: relative;
    border-collapse: collapse;
    width: auto;
    margin: 10px 0 10px 0;
}

.historyTable tr td {
    padding: 4px 1.5em 2px 5px;
    vertical-align: top;
    white-space: nowrap;
}

.changes ol { list-style: none;}

span.lineChange {
    display: inline;
    font-family: courier;
    height: 15px;
    width: 216px;
}

del {
    text-decoration: none;
    background: #ff8888;
    color: #000;
}

ins {
    background: #99ff99;
    text-decoration: none;
    color: #000;
}


tr.rselected {
    background: #E1F1B9;
}

section#color {
    display: block;
    width: 630px;
}

div.ccolor {
    display: block;
    width: 96px;
    margin: 15px;
    float: left;
}

/* colorpicker */
.colorPickerDiv {
    position: absolute;
    width: 210px;
    height: 167px;
    background: #0d0d0d;
    color: #aaa;
    z-index: 100000;
}

#SV {
    position: relative;
    float: left;
    background: #ff0000 url('../images/SatVal.png');
    height: 166px;
    width: 167px;
    margin-right: 10px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media/SatVal.png', sizingMethod='scale'); 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
    padding: 0;
}

#SVslide { 
    background: url('../images/slide.gif');
    height: 9px;
    width: 9px; 
    position: absolute; 
    font-size: 1px; 
    line-height: 1px; 
}


#H {
    display: block;
     border: 1px solid #000;
     cursor: crosshair; 
     float: left; 
     height: 154px; 
     position: relative; 
     width: 19px; 
     padding: 0; 
     top: 4px;
     -moz-user-select: none;
     -khtml-user-select: none; 
     user-select: none;
}

#Hmodel {
    position: relative;
    top: -5px;
}

#Hslide {
    background: url('../images/slideHue.gif'); 
    height: 5px;
    width: 33px;
    position: absolute;
    font-size: 1px;
    line-height: 1px; 
}

#Hmodel div {
    height: 1px;
    width: 19px;
    line-height: 1px;
    margin:0;
    padding: 0;
}

#plugin { BACKGROUND: #0d0d0d; COLOR: #AAA; CURSOR: move; FONT-FAMILY: arial; FONT-SIZE: 11px; PADDING: 7px 10px 11px 10px; _PADDING-RIGHT: 0; Z-INDEX: 1; POSITION: absolute; WIDTH: 199px; _width: 210px; _padding-right: 0px; }
#plugin br { CLEAR: both; MARGIN: 0; PADDING: 0;  }
#plugin select { BORDER: 1px solid #333; BACKGROUND: #FFF; POSITION: relative; TOP: 4px; }

#plugHEX { FLOAT: left; position: relative; top: -1px; }
#plugCLOSE { FLOAT: right; cursor: pointer; MARGIN: 0 8px 3px; _MARGIN-RIGHT: 10px; COLOR: #FFF; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#plugHEX:hover,#plugCLOSE:hover { COLOR: #FFD000;  }

#plugCUR { float: left; width: 10px; height: 10px; font-size: 1px; background: #FFF; margin-right: 3px; }
