html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, code,del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
body, ul, ol, dl, h1, h2, h3, h4, h5, h6, td, th, caption, pre, p, blockquote, input, textarea {font-family:'Lucida Grande','Lucida Sans Unicode','Lucida Sans Regular',Tahoma,Verdana,sans-serif;font-size:12px;line-height:18px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;}
h1, h2, h3, h4, h5, h6 {margin:0;font-weight:bold;}
h1 {font-size:36px;line-height:36px;padding-top:18px;padding-bottom:18px;}
h2 {font-size:28px;line-height:36px;padding-top:9px;padding-bottom:9px;}
h3 {font-size:18px;line-height:18px;padding-top:9px;padding-bottom:9px;}
h4 {font-size:14px;line-height:18px;padding-top:9px;}
h5 {font-size:12px;line-height:18px;padding-top:9px;padding-bottom:9px;}
h6 {font-size:10px;line-height:18px;padding-top:9px;padding-bottom:9px;}
em {font-style:italic;}
p {margin:0 0 0.5em 0;}
small {font-size:80%;}
strong {font-weight:bold;}
input {font-size:12px;}
#prevert p {font-weight:bold;}
#snippet_window {font-size:13px;}
.box h4 {font-size:10px;}
tr.base {background:#ffd8d8;}
tr.base td.c,th.diffm {border-right-color:#aa3333;}
th.diffp,tr.changed td.c {border-right-color:#33aa33;}
ul.subsection_tabs li.tab a {font-size:11px;font-weight:bold;}
span.lineChange {font-family:courier;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em,dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre,code {margin:1.5em 0;white-space:pre;}
pre,code,tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
#snippet_window_title {font-size:14px;font-weight:bold;cursor:move;}
#snippet_window {font-weight:bold;}
th.linenos {font-weight:bold;}
.linenos .special {font-weight:bold;}
table.difftabular th {text-align:center;}
table.difftabular th.linenos {text-align:center;}
.claim, .logout, .login, .help {font-weight:bold;text-decoration:none;}
.rename {font-size:12px;line-height:18px;vertical-align:middle;}
.window_title {font-size:11px;}
.hidden {display:none;}
body {min-width:700px;color:#000;}
html,body,#container {height:100%;}
#container {width:99%;margin:0 auto;padding-left:10px;}
#claim_bar {display:block;margin:0;width:100%;height:24px;background:#000;padding-left:10px;padding-right:10px;}
#claim_bar #fpassword {display:block;float:right;}
a {border:0;}
#topheader {display:block;width:100%;height:24px;}
#topheader ul {list-style:none;float:right;}
#topheader ul li {display:inline;}
#page {width:76%;height:100%;float:left;}
#pedit {display:block;height:100%;}
aside#sidebar {display:block;width:22%;float:right;}
aside ul {list-style:none;margin:0;padding:0;}
aside.hidden {display:none;}
.hidden {display:none;}
header h1,header h2 {padding:0px;}
header h1 {padding-top:5px;}
header h2 {padding-bottom:10px;}
header h1 a {text-decoration:none;}
#page article,#pedit #pedit_wrapper {display:block;padding:10px;border-right:4px solid;border-left:4px solid;border-bottom:4px solid;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-khtml-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-khtml-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;min-height:350px;}
.rename {display:inline;width:200px;margin-left:10px;opacity:0.6;filter:0.6;}
#phistory, #pdiff,#pdesign,#psettings,#pgeneric {display:block;padding:10px;border:4px solid;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-radius:5px;border-radius:5px;min-height:350px;}
#pgeneric {text-align:left;margin-top:10px;}
#pdiff h4 {border-bottom:1px solid;}
ul.subsection_tabs {list-style:none;height:23px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-khtml-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;-khtml-border-top-right-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;margin:0;padding:0;}
ul.subsection_tabs li.tab {float:left;margin:0;}
ul.subsection_tabs li.tab a {display:block;margin:0;padding-left:18px;padding-top:5px;text-decoration:none;}
ul.subsection_tabs li.tab a:hover {text-decoration:underline;}
ul.subsection_tabs li.tab-view a {width:53px;}
ul.subsection_tabs li.tab-edit a {width:50px;}
ul.subsection_tabs li.tab-view a.active {background:transparent url(../img/tab-view.png) 0 0 no-repeat;}
ul.subsection_tabs li.tab-edit a.active {background:transparent url(../img/tab-edit.png) 0 0 no-repeat;}
.page_infos {text-align:right;margin:0;padding:0;}
.page_history {background:transparent url(../img/icon_history.png) 0 0 no-repeat;padding-left:20px;}
#page_delete {background:transparent url(../img/icon_delete.png) 0 0 no-repeat;padding-left:20px;}
.page_edit {background:transparent url(../img/icon_edit.png) 0 0 no-repeat;padding-left:20px;}
ul.page_infos {list-style:none;border-top:1px solid;border-bottom:1px solid;margin-bottom:1.5em;}
ul.page_infos li {display:inline;padding:0 10px 0 10px;border-right:1px solid;}
ul.page_infos li.last {border:none;}
.historyTable {position:relative;border-collapse:collapse;width:auto;margin:10px 0 10px 0;}
.historyTable tr td {padding:4px 1.5em 2px 5px;vertical-align:top;white-space:nowrap;}
.changes ol {list-style:none;}
span.lineChange {display:inline;height:15px;width:216px;}
#pedit_wrapper {height:100%;overflow:hidden;}
#pedit_wrapper #fedit {display:block;position:relative;width:50%;float:left;height:100%;}
#fedit textarea {position:relative;width:99%;height:100%;}
#pedit_wrapper #preview {display:block;position:relative;width:48%;float:right;height:100%;}
#page-content {display:block;background:#fff repeat;height:100%;}
.footer_wrapper {display:block;position:relative;clear:both;width:100%;padding-top:25px;padding-bottom:10px;}
footer ul.menu {list-style:none;text-align:center;padding-bottom:15px;}
footer ul.menu li {display:inline;padding:0 5px 0 5px;}
p.powered {text-align:center;}
#page_wrapper {display:block;width:100%;clear:both;}
#preview {overflow:auto;}
.window {display:block;background-image:url(../img/window_background.png);-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;padding:10px;min-width:200px;min-height:150px;border:4px solid;}
.window .window_title {margin-top:-7px;margin-left:15px;margin-bottom:7px;cursor:move;}
.window form {position:relative;}
.window .close {display:block;position:absolute;top:4px;left:5px;height:13px;width:13px;background-image:url(../img/window_close.gif);cursor:pointer;cursor:hand;}
#link_window textarea {width:350px;}
#snippet_window form table,#link_window form table {width:100%;margin:5px 0 5px 0;}
#snippet_window th, #snippet_window td,#link_window th, #link_window td {padding:5px 10px 5px 10px;vertical-align:top;}
tr.rlink_type {border-bottom:1px solid;}
#link_window input[type="text"] {width:350px;}
#snippet_window textarea {width:450px;height:200px;}
#snippet_window p,#link_window p {line-height:15px;vertical-align:middle;margin-top:5px;}
input, textarea {border-style:solid solid solid solid;border-width:1px 1px 1px 1px;margin:4px 4px 0 0;padding:2px;}
#snippet_window input[type="submit"],#link_window {border:1px solid;}
#snippet_url {width:450px;}
div.resizable_handle {height:5px;width:16px;position:absolute;right:-14px;bottom:-4px;background-image:url(../img/layout_sprite.png );background-repeat:no-repeat;background-position:-22px -62px;}
a#doCreate {display:block;line-height:18px;height:18px;}
a#doCreate.hidden {display:none;}
.box {display:block;position:relative;width:84%;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;padding:5px;margin-top:10px;clear:right;}
.box ul {margin:0;padding:0;}
.box h4 {padding:2px 0 2px 2px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-khtml-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;-khtml-border-top-right-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;margin-bottom:10px;}
input#srevert,input#scompare {border:1px solid;margin-left:10px;}
#fdiff {padding-top:10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:15px;}
th.linenos {width:15px;}
td.linenos {padding:0 5px;}
td.code {padding:0 8px;}
table.difftabular {width:100%;color:#000;}
table.difftabular th {width:2em;}
table.difftabular th.linenos {border:0;}
tr.tabularh th.linenos {padding-bottom:5px;}
tbody.hidenos td.linenos,tbody.hidenos th.linenos {display:none;}
tr.base td.c,th.diffm {border-right:1px solid;}
th.diffp,tr.changed td.c {border-right:1px solid;}
tr.changed td.first {border-top:1px solid;}
tr.changed .last {border-bottom:1px solid;}
tr.base td.first {border-top:1px solid;}
tr.base .last {border-bottom:1px solid;}
tr.errors {padding:0.3em;border:1px solid;}
div.help_error {display:block;font-weight:bold;font-size:83%;width:100%;position:relative;}
p.notify, p.errors {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.claim, .logout, .help {float:right;display:block;margin-right:2.5em;margin-bottom:15px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-khtml-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-khtml-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;padding:5px;}
.help {margin-right:1em;}
#claim_wrapper {display:block;width:550px;margin:0 auto 0 auto;padding:10px;border:4px solid;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-radius:5px;border-radius:5px;}
h5.settings {padding-bottom:0;margin-bottom:0.8em;border-bottom:1px solid;}
#home_wrapper {margin:0 auto 0 auto;width:550px;text-align:center;}
.tableSettings th {width:120px;vertical-align:middle;}
.feed {margin-left:3px;padding:0 0 0 19px;background:url("../../img/feed-icon-14x14.png") no-repeat 0 50%;}
.tooltip {border:1px solid #000;background-color:#fff;height:25px;width:200px;font-family:"Lucida Grande",Verdana;font-size:10px;color:#333;}
#markdown_toolbar {position:relative;list-style:none;border:1px solid #d7d7d7;background-color:#F6F6F6;margin:0;padding:0;height:18px;margin-bottom:2px;}
#markdown_toolbar li {list-style:none;margin:0;padding:0;float:left;}
#markdown_toolbar li a {width:24px;height:16px;float:left;display:block;background-image:url(../img/markdown_icons.gif);border:1px solid #fff;border-right-color:#d7d7d7;}
#markdown_toolbar li a:hover {border-color:#900;}
#markdown_toolbar li span {display:none;}
#markdown_toolbar li a#markdown_help_button {position:absolute;top:0;right:0;border-left-color:#d7d7d7;border-right-color:#fff;}
#markdown_toolbar li a#markdown_help_button:hover {border-left-color:#900;border-right-color:#900;}
#markdown_italics_button {background-position:0 -119px;}
#markdown_bold_button {background-position:0 -102px;}
#markdown_link_button {background-position:0 0;}
#markdown_image_button {background-position:0 -170px;}
#markdown_unordered_list_button {background-position:0 -34px;}
#markdown_ordered_list_button {background-position:0 -51px;}
#markdown_quote_button {background-position:0 -68px;}
#markdown_code_button {background-position:0 -136px;}
#markdown_help_button {background-position:0 -153px;}
#markdown_heading_button {background-position:0 -85px;}
#markdown_toolbar li a#markdown_snippet_button {background:transparent url(../img/edit-paste.png) 4px 0 no-repeat;}
#colorpicker {position:absolute;width:145px;height:135px;overflow:hidden;background:#F9F9F9;border:2px #C0C0C0 outset;z-index:1000;}
#colorpicker-hue-container {position:absolute;top:4px;left:120px;width:18px;height:110px;}
#colorpicker-hue-bg-img {width:100%;height:100%;}
#colorpicker-hue-slider {position:absolute;top:0;left:0;width:100%;height:100%;}
#colorpicker-hue-thumb {position:absolute;top:0;left:0;width:18px;height:18px;z-index:1009;cursor:default;}
#colorpicker-bar {text-align:right;padding-right:10px;}
#colorpicker-close {cursor:pointer;color:blue;font-size:10px;font-family:Tahoma, Helvetica, Sans-Serif;font-weight:bold;}
#colorpicker-div {position:absolute;top:8px;left:8px;width:100px;height:100px;border:1px solid #666;}
#colorpicker-bg,#colorpicker-bg-overlay {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1001;overflow:hidden;}
#colorpicker-selector {position:absolute;top:0px;left:0px;width:11px;height:11px;z-index:1009;margin-top:-6px;margin-left:-6px;cursor:default;}
#colorpicker-selector img {position:absolute;left:0;top:0;}
#colorpicker-footer {position:absolute;top:114px;left:10px;width:127px;}
#colorpicker-value {float:left;}
#colorpicker-value,#colorpicker-value-input {font-size:9px !important;font-family:Helvetica, Verdana, Sans-Serif;height:10px;}
#colorpicker-value-input {width:40px;}
#colorpicker-okbutton {float:right;padding:0 10px;background:#3366FF;font-size:10px;font-family:Tahoma, Helvetica, Sans-Serif;border:1px solid #666666;color:#ffffff;}
body {background-color:#e7e7e7;color:#000;}
a {color:#14456e;}
header h1 a {color:#000;}
#page article {color:#000;background-color:#fff;border-right-color:#d4d4d4;border-left-color:#d4d4d4;border-bottom-color:#d4d4d4;}
#phistory,#pdiff,#pdesign,#claim_wrapper,#psettings,#pgeneric {background-color:#fff;border-color:#d4d4d4;color:#000;}
#pdiff h4 {border-bottom-color:#ccc;}
ul.subsection_tabs {background-color:#d4d4d4;}
ul.subsection_tabs li.tab a {color:#666;}
ul.subsection_tabs li.tab a.active {color:#000;}
ul.page_infos {border-top-color:#ccc;border-bottom-color:#ccc;}
ul.page_infos li {border-right-color:#ccc;}
del {background-color:#ff8888;color:#000;}
ins {background-color:#99ff99;color:#000;}
tr.rselected {background-color:#d4d4d4;opacity:0.5;filter:0.5;}
.box {background-color:#fff;}
.box a {color:#14456e;}
.box h4 {background-color:#d4d4d4;color:#000;}
input#srevert, input#scompare {background-color:#cec6b5;border-color:#7a7261;}
th.linenos {background-color:#f4f4f4;color:#666;}
.linenos .special {color:#000;}
table.difftabular {background-color:#fff;}
table.difftabular th {background-color:#f7f7f0;}
tr.tabularh th.linenos {color:#000;}
tr.changed {background-color:#ddf8cc;}
tr.changed td.first,tr.base td.first {border-top-color:#33aa33;}
tr.changed .last,tr.base .last {border-bottom-color:#33aa33;}
.claim, .logout, .help {background-color:#000;color:#fff;}
tr.errors {background:#ff9898;border:#ff0000;}
p.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.window {background-color:#dedede;color:#bbbbbb;border:#ababab;}
.window form table {background-color:#2c2c2c;}
.window form p a, .window a:visited {color:#bbb;}
tr.rlink_type {border-color:#fff;}
input, textarea {border-color:#C6C6C6 #EFEFEF #EFEFEF #C6C6C6;}
.window input[type="submit"] {background-color:#3d3d3d;border-color:#bbb;color:#bbb;}
