body {background-color:#e7e7e7;color:#000;}
a {color:#14456e;}
#page article {color:#000;background-color:#fff;border-right-color:#d4d4d4;border-left-color:#d4d4d4;border-bottom-color:#d4d4d4;}
#phistory,#pdiff,#pdesign,#claim_wrapper,#psettings,#pgeneric {background-color:#fff;border-color:#d4d4d4;color:#000;}
#pdiff h4 {border-bottom-color:#ccc;}
ul.subsection_tabs {background-color:#d4d4d4;}
ul.subsection_tabs li.tab a {color:#666;}
ul.subsection_tabs li.tab a.active {color:#000;}
ul.page_infos {border-top-color:#ccc;border-bottom-color:#ccc;}
ul.page_infos li {border-right-color:#ccc;}
del {background-color:#ff8888;color:#000;}
ins {background-color:#99ff99;color:#000;}
tr.rselected {background-color:#d4d4d4;opacity:0.5;filter:0.5;}
#snippet_window {background-color:#dedede;color:#504845;border:#ababab;}
#snippet_window form table {background-color:#f7f7f7;}
input, textarea {border-color:#C6C6C6 #EFEFEF #EFEFEF #C6C6C6;}
#snippet_window input[type="submit"] {background-color:#cec6b5;border-color:#7a7261;}
.box {background-color:#fff;}
.box a {color:#14456e;}
.box h4 {background-color:#d4d4d4;color:#000;}
input#srevert, input#scompare {background-color:#cec6b5;border-color:#7a7261;}
th.linenos {background-color:#f4f4f4;color:#666;}
.linenos .special {color:#000;}
table.difftabular {background-color:#fff;}
table.difftabular th {background-color:#f7f7f0;}
tr.tabularh th.linenos {color:#000;}
tr.changed {background-color:#ddf8cc;}
tr.changed td.first,tr.base td.first {border-top-color:#33aa33;}
tr.changed .last,tr.base .last {border-bottom-color:#33aa33;}
.claim, .logout {background-color:#000;color:#fff;}
tr.errors {background:#ff9898;border:#ff0000;}
p.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
