{% extends "base.html" %}
{% block title %}couchit - about{% endblock %}

{% block fullpage %}
<header><h1></h1></header>
<div id="home_wrapper"> 
<section id="pgeneric">
    <h1>About</h1>
    <p>Couchit allow you <strong>to easily build and maintain your website.</strong></p> 
    <p>Add your content and get started right away.</p>
    <p>Couchit is still a beta release, but you already have:</p>
        <ul>
            <li>a simple and intuitive user interface</li>
            <li>the possibility to create and edit pages</li>
            <li>the possibility to choose your site URI</li>
            <li>an easy way to choose your website color scheme</li>
            <li>a nice integration with <a href="http://www.friendpaste.com">Friendpaste</a></li>
            <li>...</li>
        </ul>
    <p>And the best is yet to come... For all the latest news and features, visit <a href="http://news.couch.it">news.couch.it</a>.</p>
    
    
    <h2>How?</h2>
    <ul>
        <li>No SQL at all. We use the new and powerfull document oriented database, <a href="http://www.couchdb.org">Apache CouchDB</a>.</li>
        <li><a href="http://werkzeug.pocoo.org">Werkzeug</a>, a micro web framework</li>
    </ul>
    
    <h2>Who?</h2>
    <p><a href="http://couch.it">Couchit</a> is produced by <a href="http://e-engura.com">Enki Multimedia</a>.</p>
    
    <h2>Privacy?</h2>
    <p><strong>We do not track your usage of this site</strong>, cookies are used to store your 
        preferences only.</p>
    <p>Use it freely and share with your friends.</p>
    
</section>
</div> 
{% endblock %}