<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% if site and site.title %}{{ site.title }} - {% endif %}{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png" />

    <!--[if IE]>

    <script>
        // allow IE to recognize HTMl5 elements
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('header');
        document.createElement('nav');
        document.createElement('time');

    </script>
    <![endif]-->

    {% if DEBUG %}
    <link rel="stylesheet" href="/static/css/src/debug.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/src/textarea.css" />
    <script src="/static/js/lib/prototype.js" type="text/javascript"></script>
    <script src="/static/js/lib/effects.js" type="text/javascript"></script>
    <script src="/static/js/lib/controls.js" type="text/javascript"></script>
    <script src="/static/js/lib/dragdrop.js" type="text/javascript"></script>
    <script src="/static/js/lib/builder.js" type="text/javascript"></script>
    <script src="/static/js/lib/slider.js" type="text/javascript"></script>
    <script src="/static/js/src/application.js" type="text/javascript"></script>
    <script src="/static/js/libhacdc-fileupload.js" type="text/javascript"></script>
    {% else %}
    <link rel="stylesheet" href="/static/css/screen.css?20090820" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/css/print.css?20090820" type="text/css" media="print" /> 
    <!--[if IE]>
      <link rel="stylesheet" href="/static/css/ie.css?20090820" type="text/css" media="screen, projection" />
    <![endif]-->
    {% if site %}

    <script src="/static/js/prototype.js?20090820" type="text/javascript"></script>
    <script src="/static/js/scriptaculous.js?20090820" type="text/javascript"></script>
    <script src="/static/js/couchit-application.js?20090820" type="text/javascript"></script>
    <script src="/static/js/libhacdc-fileupload.js" type="text/javascript"></script>
    {% endif %}
    
    {% endif %}
   
   {% if site and site.theme %}
    <style type="text/css" media="screen">
body{background-color:#{{ site.theme.background_color }};color:#{{ site.theme.text_color }};}
a{color:#{{ site.theme.link_color }};}
header h1 a{color:#{{ site.theme.text_color }};}
#page article, #pedit #pedit_wrapper{background-color:#{{ site.theme.page_fill_color }};border-right-color:#{{ site.theme.border_color }};border-left-color:#{{ site.theme.border_color }};border-bottom-color:#{{ site.theme.border_color }};color:#{{ site.theme.page_text_color }};}
#phistory,#pdiff,#pdesign,#pedit,#claim_wrapper,#psettings{background-color:#{{ site.theme.page_fill_color }};border-color:#{{ site.theme.border_color }};color:#{{ site.theme.page_text_color }};}
#phistory,#pdiff,#pdesign,#page,#claim_wrapper,#psettings{color:#{{ site.theme.page_text_color }};}
#phistory a, #pdiff a, #pdesign a, #page a, #psettings a, #claim_wrapper a{color:#{{ site.theme.page_link_color }};}
ul.subsection_tabs{background-color:#{{ site.theme.border_color }};}
ul.subsection_tabs li.tab a{color:#{{ site.theme.menu_inactive_color }};}
.box{background-color:#{{ site.theme.page_fill_color }};}
.box a{color:#{{ site.theme.page_link_color }};}
.box h4{background-color:#{{site.theme.border_color}};color:#{{site.theme.menu_inactive_color }};}
tr.rselected{background-color:#{{site.theme.border_color}};color:#{{site.theme.menu_inactive_color }};}
    </style>
    <link rel="stylesheet" href="/static/css/{% if site.theme.syntax_style %}{{ site.theme.syntax_style }}{% else %}default{% endif %}.css" type="text/css" />
   {% endif %}
    <link rel="stylesheet" href="/static/css/print.css?20080928" type="text/css" media="print" /> 
    {% block head %}{% endblock %}
</head>
<body>
    {% if site %}
        {% if site.claimed %}
        {% if authenticated %}
            <a href="{{ url_for('site_logout') }}" class="logout">logout</a>
        {% else %}
        <a href="{{ url_for('site_login') }}?back={{ current_url }}" class="logout">login</a>
        {% endif %}
        
        {% else %}
     <a href="{{ url_for('site_claim') }}" class="claim">Claim this site</a>
        {% endif %}
        {% if can_edit %}
            <a href="http://help.couch.it" class="help">Help</a>
        {% endif %}
     
    {% endif %}
    
    <div id="container">
        {% if site %}
         <header id="site_header">
             <h1><a href="{% if site_url %}{{ site_url }}{% else %}/{% endif %}">{% if site.title %}{{ site.title }}{% endif %}</a></h1>
             <h2>{% if site.subtitle %}{{ site.subtitle }}{% endif %}</h2>
         </header>   
        {% endif %}
        
        
        <div id="page_wrapper">
            {% block fullpage %}
            <section id="page">
                {% block page %}{% endblock %}
            </section>

            <aside id="sidebar">
                {% block sidebar %}{% endblock %}
            </aside>
            {% endblock %}          
        </div>
        
        <footer class="footer_wrapper">
            {% if not site and not cname and not alias %}
            <ul class="menu">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/help">help</a></li>
            </ul>
            {% endif %}
            
            <p class="powered">Powered by <a href="http://couchit.net">CouchIt</a>.</p>
        </footer>
        
         {% block footer %}{% endblock %}
        
    </div>
</body>
</html>
