<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>couchit - {% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/default.css" type="text/css" />
     <link rel="stylesheet" href="/static/css/blue.css" type="text/css" />

    <script src="/static/js/prototype.js" type="text/javascript"></script>
    <script src="/static/js/effects.js" type="text/javascript"></script>
    <script src="/static/js/application.js" type="text/javascript"></script>
    
    {% block head %}{% endblock %}

</head>
<body>
    <div id="container">
        {% block header %} 
        {% if site %}
            {% include "header.html" %}
        {% endif %}
        
        {% endblock %}
        
        <div id="wrapper">
            {% block main %}
            <aside id="sidebar">
                {% block aside %}{% endblock %}
            </aside>
            <section id="page">
                {% block content %}{% endblock %}
            </section>

            
            {% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>
</body>
</html>
