<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <title>couchit - {% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/default.css" type="text/css" />
     <link rel="stylesheet" href="/static/css/blue.css" type="text/css" />

    {% if DEBUG %}
    <script type="text/javascript" src="/static/js/base2/src/base2.js"></script>
    <script type="text/javascript" src="/static/js/base2/src/base2-dom.js"></script>
    <script type="text/javascript" src="/static/js/src/base.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    <script type="text/javascript" src="/static/js/src/utils.js"></script>
    <script type="text/javascript" src="/static/js/src/ajax.js"></script>
    <script type="text/javascript" src="/static/js/src/localize_dates.js"></script>
    <script type="text/javascript" src="/static/js/src/urlify.js"></script>
    <script type="text/javascript" src="/static/js/src/page.js"></script>
    {% endif %}

    {% block head %}{% endblock %}

</head>
<body>
    <div id="container">
        {% block header %}
            <header id="topheader">
                <nav>
                    <ul>
                        <li><a href="">recent changes</a></li>
                        <li><a href="">settings</a></li>
                        <li><a href="{{ url_for('site_design', cname=site.cname) }}">design</a></li>
                    </ul>
                </nav>
            </header>
        {% endblock %}
        
        <div id="wrapper">
            {% block main %}
            <aside id="sidebar">
                {% block aside %}{% endblock %}
            </aside>
            <section id="page">
                {% block content %}{% endblock %}
            </section>

            
            {% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </div>
</body>
</html>