{% extends "base.html" %}
{% block title %}couch.it - help{% endblock %}

{% block fullpage %}
<header><h1></h1></header>
<div id="home_wrapper"> 
<section id="pgeneric">
    <h1>Couchit Help</h1>
    <h2><a href="http://wiki.couchit.net">Community Wiki</a></h2>
    <p>We have setup a wiki to allow you to share idee, suppot, anything else.
    <h2><a href="http://getsatisfaction.com/enkimultimedia/products/enkimultimedia_couchit">Support Forum</a></h2>
    <p>This forum is for you. Don't hesitate to report here any problem, feedback you have.</p>
    <h2><a href="xmpp://couchit@conference.crocobox.org">Jabber room</a></h2>
    <p>Feel free to join us and discuss here about couchit, its future or anything else. Jabber room is here:<br /><a href="xmpp://couchit@conference.crocobox.org">couchit@conference.crocobox.org</a> (big thank to kael and zebuline to provide it)</p>
    
</section>
</div> 
{% endblock %}