{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
<style type="text/css">
.{{ b1 }} { visibility: normal; }
.{{ b2 }} { display: none; }
</style>
{% endblock %}
{% block fullpage %}
<header><h1></h1></header>
<div id="home_wrapper"> 
    <section id="home">
        {% if cname or alias %}
        <h1>Site Not Found</h1>
        <p>There's no site with that address. Want to make one? Just type some text in the space below and press "create".</p>
        {% else %}
        <h1>Couchit</h1>
        {% endif %}
        <form action="/" name="fcreate" method="post">
            {% if cname %}
                <input type="hidden" name="cname" value="{{ cname }}" />
            {% endif %}
             {% if alias %}
                <input type="hidden" name="alias" value="{{ alias }}" />
            {% endif %}
        
            <p><textarea class="{{ b1 }}" id="content" name="content" cols="60" rows="15" tabindex="1"></textarea></p>
            <p><input class="{{ b2 }}" type="text" name="{{ spaminput }}" value="" /></p>
            <p>
                <input class="{{ b1 }}" type="submit" name="{{ createid }}" value="Create a site" tabindex="2" />
                <input class="{{ b2 }}" type="submit" name="{{ spamid }}" value="Create a site" tabindex="2" />
            </p>
        </form>
    </section>
</div>
{% endblock %}

