
{% if can_edit %}
<div id="createPage">
    <a href="#" id="doCreate">Create new page</a>
    <form id="fnewpage" name="fnewpage" method="get">
        <p><input type="text" name="title" id="title" value="" maxlength="60"/></p>
        <p><input type="submit" name="screate" id="screate" value="Create" /> or <a href="#" class="cancelCreate">Cancel</a></p>
    </form>
</div>
{% endif %}


<nav>
    <ul id="site_actions">
        <li><a href="{{ url_for('site_changes') }}">recent changes</a></li>
        {% if can_edit %}
        {% if site.akismet_key %}
            <li><a href="{{ url_for('site_spam') }}">spam</a></li>
        {% endif %}
        
         <li><a href="{{ url_for('site_settings') }}">settings</a></li>
         <li><a href="{{ url_for('site_design') }}">design</a></li> 
        {% endif %}
        
    </ul>
</nav>

<div id="pagesBox" class="box">
    <h4>Pages</h4>  
    <ul class="pagelist">
        {% for p in pages %}
        <li><a href="{{ url_for('show_page', pagename=p.title|replace(" ", "_"))  }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
</div>
