<div id="createPage">
    <a href="#" id="doCreate">Create new page</a>
    <form id="fnewpage" name="fnewpage" method="get">
        <p><input type="text" name="title" id="title" value="" /></p>
        <p><input type="submit" name="screate" id="screate" value="Create" /> or <a href="#" class="cancelCreate">Cancel</a></p>
    </form>
</div>

<nav>
    <ul>
        <li><a href="{{ url_for('site_changes', cname=site.cname) }}">recent changes</a></li>
        <li><a href="{{ url_for('site_settings', cname=site.cname) }}">settings</a></li>
        <li><a href="{{ url_for('site_design', cname=site.cname) }}">design</a></li>
    </ul>
</nav>

<div id="pagesBox" class="box">
    <h4>Pages</h4>  
    <ul class="pagelist">
        {% for p in pages %}
        <li><a href="{{ url_for('show_page', cname=site.cname, pagename=p.title|replace(" ", "_"), alias=site.alias)  }}">{{ p.title }}</a></li>
        {% endfor %}
    </ul>
</div>