.hidden {
    display: none;
}

body {
    min-width: 700px;
    color: #000; 
}

html,
body,
#container {
	height: 100%
}


#container {
    width: 99%;
    margin: 0 auto;
    padding-left: 10px;
}


#claim_bar {
    display: block;
    margin: 0;
    width: 100%;
    height: 24px;
    background: #000;
    padding-left: 10px;
    padding-right: 10px;
}

#claim_bar #fpassword {
    display: block;
    float: right;
}

a { border: 0;}


#topheader {
    display: block;
    width: 100%;
    height: 24px;
    
}
#topheader ul {
    list-style: none;
    float: right;
}

#topheader ul li {
    display: inline;
}

#page {
    width: 76%;
    height: 100%;
    float: left;
}

#pedit {
    display: block;
    height: 100%;
}


aside#sidebar {
    display: block;
    width:22%;
    float: right;
}

aside ul { list-style: none; margin: 0;  padding: 0;}

aside.hidden { display: none;}




header h1,
header h2 { padding:0px;}

header h1 {
    padding-top: 5px;
}
header h2 {
    padding-bottom: 10px;
}


header h1 a { text-decoration: none; }

#page article,
#pedit #pedit_wrapper {
    display: block;
    padding: 10px;
    border-right: 4px solid;
    border-left: 4px solid;
    border-bottom: 4px solid;
    
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 350px;
    
}



#phistory, 
#pdiff,
#pdesign,
#psettings,
#pgeneric {
    display: block;
    padding: 10px;
    border: 4px solid;
    
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-radius: 5px;
    border-radius: 5px;
    min-height: 350px;
}

#pgeneric {
    text-align: left;
    margin-top: 10px;
}


#pdiff h4 {
    border-bottom: 1px solid;
}

/* tabs */
ul.subsection_tabs {
	list-style:none;
	height:23px;
	-moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    padding: 0;
}

ul.subsection_tabs li.tab {
	float:left;
	margin: 0;
}

ul.subsection_tabs li.tab a {
	display:block;
	margin: 0;
	padding-left: 18px;
	padding-top: 5px;
	text-decoration: none;
}

ul.subsection_tabs li.tab a:hover {
	text-decoration: underline;
}


ul.subsection_tabs li.tab-view a {
    width: 53px;
}
ul.subsection_tabs li.tab-edit a {
    width: 50px;
}


ul.subsection_tabs li.tab-view a.active {
	background: transparent url(../../img/tab-view.png) 0 0 no-repeat;
}

ul.subsection_tabs li.tab-edit a.active {
    background: transparent url(../../img/tab-edit.png) 0 0 no-repeat;
}



.page_infos { text-align: right; margin: 0; padding: 0;}
.page_history {
    background: transparent url(../../img/icon_history.png) 0 0 no-repeat;
    padding-left: 20px;
}

#page_delete {

    background: transparent url(../../img/icon_delete.png) 0 0 no-repeat;
    padding-left: 20px;
}

.page_edit {

    background: transparent url(../../img/icon_edit.png) 0 0 no-repeat;
    padding-left: 20px;
}


ul.page_infos  { 
    list-style: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 1.5em;
}
ul.page_infos li {
    display: inline;
    padding: 0 10px 0 10px;
    border-right:1px solid;
}

ul.page_infos li.last { border: none;}

.historyTable {
    position: relative;
    border-collapse: collapse;
    width: auto;
    margin: 10px 0 10px 0;
}

.historyTable tr td {
    padding: 4px 1.5em 2px 5px;
    vertical-align: top;
    white-space: nowrap;
}

.changes ol { list-style: none;}

span.lineChange {
    display: inline;
    height: 15px;
    width: 216px;
}



#pedit_wrapper {
    height: 100%;
    overflow:hidden;
}
#pedit_wrapper #fedit {
    display: block;
    position: relative;
     width: 50%;
    float: left;
    height: 100%;

}

#fedit textarea {
    position: relative;
    width: 99%;
    height: 100%;
    
}

#pedit_wrapper #preview {
    display: block;
    position: relative;
    width: 48%;
    float: right;
    height: 100%;          
}

#page-content {
    display: block;
    background: #fff repeat;
    height: 100%;
}


.footer_wrapper {
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
}

footer ul.menu {
    list-style: none;
    text-align: center;
    padding-bottom: 15px;
}
footer ul.menu li {
    display: inline;
    padding: 0 5px 0 5px;
}
p.powered { text-align: center;}

#page_wrapper {
    display: block;
    width: 100%;
    clear: both;
}

code {
    width: 95%;
    display: block;
    padding: 1em 1em 1em 1em;
   
}

code {
        white-space: pre-wrap; /* css-3 */
       white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
       white-space: -pre-wrap; /* Opera 4-6 */
       white-space: -o-pre-wrap; /* Opera 7 */
       word-wrap: break-word; /* Internet Explorer 5.5+ */
       overflow: auto;
}

#preview {
    overflow: auto;
}



/* window */
#snippet_window_title {
    margin-top:-7px;  
    margin-left: 15px;
    margin-bottom:7px;  
    font-size:14px;
    cursor:move;
}

#snippet_window {  
    
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    -khtml-border-radius: 5px;  
    padding:10px;  
    min-width:200px;  
    min-height:150px;  
    border: 4px solid;
} 
 
#snippet_window form {
    position: relative;
}
 
#snippet_window #snippet_window_close {  
    display:block;  
    position:absolute;  
    top:4px;  
    left:5px;  
    height:13px;  
    width:13px;  
    background-image:url(../../img/window_close.gif);  
    cursor: pointer;
    cursor: hand;  
}
#snippet_window form table {
    width: 100%;
    margin: 5px 0 5px 0;
}
#snippet_window th, td {
    padding: 5px 10px 5px 10px;
    vertical-align: top;
}

#snippet_window textarea {
    width: 450px;
    height: 200px;
    
}

#snippet_window p {
    line-height: 15px;
    vertical-align: middle;
    margin-top: 5px;
}

input, textarea {
    border-style:solid solid solid solid;
    border-width:1px 1px 1px 1px;
    margin:4px 4px 0 0;
    padding:2px;
    
}

#snippet_window input[type="submit"] {
    border: 1px solid;
}


#snippet_url { width: 450px;}

div.resizable_handle {
   	height: 5px;
	width: 16px;
	position: absolute;
    right: -14px;
    bottom: -4px;
    background-image: url(../../img/layout_sprite.png );
    	background-repeat: no-repeat;
    	background-position: -22px -62px;
    
}


a#doCreate {
    display: block;
    line-height: 18px;
    height: 18px;
    
}

a#doCreate.hidden {
    display:none;
}

.box {
    display: block;
   position: relative;
    width: 84%;
    
       -moz-border-radius: 5px;  
       -webkit-border-radius: 5px;  
       -khtml-border-radius: 5px;  
       padding:5px;
       margin-top: 10px;
       clear: right;
}

.box ul {
    margin: 0;
    padding: 0;
}

.box h4 {
    padding: 2px 0 2px 2px;
    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -khtml-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    
    margin-bottom: 10px;
    
    
}

input#srevert,
input#scompare {
    border: 1px solid;
    margin-left: 10px;
}



/* diff */
#fdiff {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

th.linenos {
    width: 15px;
}
td.linenos { 
    padding: 0 5px; 
}
 
 
td.code {

    padding: 0 8px;

}
table.difftabular {
    width: 100%;
    
    color: #000;
}

table.difftabular th {
    width: 2em;
}

table.difftabular th.linenos {
    border: 0;
}
tr.tabularh th.linenos {
    padding-bottom: 5px;
}

tbody.hidenos td.linenos,
tbody.hidenos th.linenos {
    display: none;
}

tr.base td.c,
th.diffm {
    border-right: 1px solid;
}

th.diffp,
tr.changed td.c {
    border-right: 1px solid;
}

tr.changed td.first {
    border-top: 1px solid;
}
tr.changed .last {
    border-bottom: 1px solid;
}

tr.base td.first {
    border-top: 1px solid;
}
tr.base .last {
    border-bottom: 1px solid;
}

tr.errors {
    padding: 0.3em;
    border: 1px solid;
}

div.help_error { display: block; font-weight: bold; font-size: 83%; width: 100%; position: relative; }

p.notify, p.errors {
    padding: .8em; margin-bottom: 1em; border: 2px solid #ddd;
}

/* claim */

.claim, .logout { 
    float: right; 
    display: block;
    margin-right: 2.5em;
    margin-bottom: 15px;
    
   	-moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -khtml-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    
    
}

#claim_wrapper {
    display: block;
    width: 550px;
    margin: 0 auto 0 auto;
    padding: 10px;
    border: 4px solid;
    
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-radius: 5px;
    border-radius: 5px;
}

h5.settings {
    padding-bottom: 0;
    margin-bottom: 0.8em;
    border-bottom: 1px solid;
}

#home_wrapper {
    margin: 0 auto 0 auto;
    width: 550px;
    text-align: center;
}